table td,
th,
.paginationButtons,
.defaultTextSettings {
  flex-shrink: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

td:nth-child(10n + 1) {  
  display: flex;
  justify-content: flex-start;
}

table td {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #bababa;
  color: #383838;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  display: flex;
  padding-top: 10px;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #000000;
}

.underlined {
  border-bottom: 1px solid #222222;
}

.paginationButtons {
  width: 50px;
  height: 30px;
  background: white;
  text-transform: uppercase;
  color: #383838;
  border: 1px solid #303030;
  box-sizing: border-box;
}
.paginationContainer {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chartText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 5px 5px 0px;
}
.chartScore {
  height: 19px;
  display: flex;
  align-items: center;
}

.chartContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
