table td{
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #383838;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
}
